#play {
  -fx-graphic: url('./icons/play.png');
  -fx-background-color: none;
  -fx-border-color: none;
}

#play:selected {
  -fx-graphic: url('./icons/stop.png');
}

#close {
  -fx-graphic: url('./icons/close.png');
  -fx-background-color: none;
  -fx-border-color: none;
}

#load {
  -fx-graphic: url('./icons/load.png');
  -fx-background-color: none;
  -fx-border-color: none;
}

#addEditStation {
  -fx-graphic: url('./icons/add.png');
  -fx-background-color: none;
  -fx-border-color: none;
}

#addEditStation:selected {
	-fx-graphic: url('./icons/edit.png');
}